# ===== Secrets =====
.env
.env.*

# ===== Data & RAG artifacts =====
# data_source/
# *.pdf

chroma/
faiss_index/
vectorstore/

# ===== Python =====
__pycache__/
*.pyc
.venv/
venv/

# ===== Docker  =====

docker/



# ===== Executables / tunnels =====


# ===== IDE / OS =====
.vscode/
.idea/
.DS_Store
