fastapi
uvicorn[standard]
langserve
sse-starlette

langchain-core
langchain-community
langchain-ollama
langchain-huggingface
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph

chromadb
faiss-cpu

sentence-transformers
ragas
datasets

pandas
numpy
openai
python-dotenv
tqdm
pydantic
httpx